.aside {
  background-color: $light-coral;
  @include flex(column, 24px);
  padding: 83px 24px;
  background-image: url("../../assets/bg-pattern-home-6-about-5.svg");
  background-repeat: no-repeat;
  background-position: bottom -22px left;

  &__title {
    @include headers(3.2rem, 3.2rem);
    text-align: center;
    color: $sacramento-state-green;
  }
}
